<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.keelim.hardware">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.READ_PRIVILEGED_PHONE_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission
        android:name="android.permission.READ_PHONE_STATE"
        tools:node="remove" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@drawable/customizationicon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity android:name=".making.MainActivity"></activity>
        <activity android:name=".activity.SettingActivity" />
        <activity
            android:name=".activity.SplashActivity"
            android:label="@string/title_activity_splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".activity.AccelarometerActivity"
            android:label="@string/title_activity_accelarometer" />
        <activity
            android:name=".activity.MagneticSensorActivity"
            android:label="@string/title_activity_magneticsensor">
            <intent-filter>
                <action android:name="android.intent.action.MAGNETICSENSOR" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.GyroscopeActivity"
            android:label="@string/title_activity_gyroscope" />
        <activity
            android:name=".activity.BatteryindicatorActivity"
            android:label="@string/title_activity_batteryindicator" />
        <activity
            android:name=".activity.GpslocActivity"
            android:label="@string/title_activity_gpsloc" />
        <activity
            android:name=".activity.WifiActivity"
            android:label="@string/title_activity_wifiaddress" />
        <activity
            android:name=".activity.BluetoothAddActivity"
            android:label="@string/title_activity_blueadd" />
        <activity
            android:name=".activity.HeadphoneActivity"
            android:label="@string/title_activity_headphone" />
        <activity
            android:name=".activity.VibrationActivity"
            android:label="@string/title_activity_vibration" />
        <activity
            android:name=".activity.TeleActivity"
            android:label="@string/title_activity_tele" />
        <activity
            android:name=".activity.SystemInfoActivity"
            android:label="@string/title_activity_systeminfo" />
        <activity
            android:name=".activity.TouchSensorActivity"
            android:label="@string/title_activity_touch_sensor" />
        <activity
            android:name=".activity.DisplayActivity"
            android:label="@string/title_activity_button" />
        <activity
            android:name=".activity.ProximitySensorActivity"
            android:label="@string/title_activity_proximity_sensor" />
        <activity
            android:name=".activity.LightSensorActivity"
            android:label="@string/title_activity_lightsensor" />
        <activity
            android:name=".activity.SoundButtonActivity"
            android:label="@string/title_activity_buttontesting" />
        <activity
            android:name=".activity.MicActivity"
            android:label="@string/title_activity_mictesting" />
        <activity
            android:name=".activity.PressureActivity"
            android:label="@string/title_activity_pressure" />
        <activity
            android:name=".activity.FlashActivity"
            android:label="@string/title_activity_flash" />
        <activity
            android:name=".activity.GravitySensorActivity"
            android:label="@string/title_activity_gravitysensor" />
    </application>

</manifest>