<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.keelim.hardware">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />

    <uses-feature android:name="android.hardware.camera" />


    <application
        android:allowBackup="true"
        android:icon="@drawable/customizationicon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">1

        <activity
            android:name="com.keelim.hardware.activity.SplashActivity"
            android:label="@string/title_activity_splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.keelim.hardware.activity.MainActivity"
            android:label="@string/app_name" />
        <activity
            android:name="com.keelim.hardware.activity.AccelarometerActivity"
            android:label="@string/title_activity_accelarometer" />
        <activity
            android:name="com.keelim.hardware.activity.MagneticSensorActivity"
            android:label="@string/title_activity_magneticsensor">

            <intent-filter>
                <action android:name="android.intent.action.MAGNETICSENSOR" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.keelim.hardware.activity.GyroscopeActivity"
            android:label="@string/title_activity_gyroscope" />
        <activity
            android:name="com.keelim.hardware.activity.BatteryindicatorActivity"
            android:label="@string/title_activity_batteryindicator" />

        <activity
            android:name="com.keelim.hardware.activity.GpslocActivity"
            android:label="@string/title_activity_gpsloc" />
        <activity
            android:name="com.keelim.hardware.activity.WifiAddressActivity"
            android:label="@string/title_activity_wifiaddress" />
        <activity
            android:name="com.keelim.hardware.activity.BluetoothAddActivity"
            android:label="@string/title_activity_blueadd" />
        <activity
            android:name="com.keelim.hardware.activity.HeadphoneActivity"
            android:label="@string/title_activity_headphone" />
        <activity
            android:name="com.keelim.hardware.activity.VibrationActivity"
            android:label="@string/title_activity_vibration" />
        <activity
            android:name="com.keelim.hardware.activity.TeleActivity"
            android:label="@string/title_activity_tele" />
        <activity
            android:name="com.keelim.hardware.activity.SystemInfoActivity"
            android:label="@string/title_activity_systeminfo" />

        <activity
            android:name="com.keelim.hardware.activity.TouchSensorActivity"
            android:label="@string/title_activity_touch_sensor" />
        <activity
            android:name="com.keelim.hardware.activity.DisplayActivity"
            android:label="@string/title_activity_button" />
        <activity
            android:name="com.keelim.hardware.activity.ProximitySensorActivity"
            android:label="@string/title_activity_proximity_sensor" />
        <activity
            android:name="com.keelim.hardware.activity.LightSensorActivity"
            android:label="@string/title_activity_lightsensor" />
        <activity
            android:name="com.keelim.hardware.activity.ButtonTestingActivity"
            android:label="@string/title_activity_buttontesting" />
        <activity
            android:name="com.keelim.hardware.activity.MicTestingActivity"
            android:label="@string/title_activity_mictesting" />
        <activity
            android:name="com.keelim.hardware.activity.PressureActivity"
            android:label="@string/title_activity_pressure" />
        <activity
            android:name="com.keelim.hardware.activity.FlashActivity"
            android:label="@string/title_activity_flash" />


        <activity
            android:name="com.keelim.hardware.activity.GravitySensorActivity"
            android:label="@string/title_activity_gravitysensor" />
    </application>

</manifest>
