<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.keelim.hard">

    <application>

        <activity
            android:name=".ui.HardWareActivity"
            android:label="@string/title_activity_main2" />

        <activity android:name=".ui.JsonActivity" />
    </application>
</manifest>